<div class="row">
  <center>
   
    <div class="col-md-6">
      <h4>Add your food</h4>
      <div id="">

        {{#each }}
          {{#unless }}
          <form action="{{id}}" method="POST">
            <div class="input-group">
              <li class="form-control">{{id}}. {{}}</li>
                <span class="input-group-btn">
                  <button class="btn btn-success add-button" type="submit">Add Nutrition</button>
                </span>
            </div>
          </form>
          {{/unless}}
        {{/each}}

      </div>
    </div>

    <div class="col-md-6">
      <h4 class="red_font">Nutrition Values</h4>
      <div id="already_added">

        {{#each }}
          {{#if this.}}
            <div class="input-group">
              <li class="form-control">{{this.id}}. {{this.}}</li>
              <span class="input-group-btn">
                <button class="btn btn-info delete-button" type="button">Delete</button>
              </span>
            </div>
          {{/if}}
        {{/each}}

      </div>
    </div>
  </center>
</div>